body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #004d99;
    color: #fff;
    padding: 10px 20px;
}

header h1 {
    margin: 0;
}

.navbar{
    background-color: #333;
    color: whilte;
}
nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

main {
    padding: 20px;
}

footer {
    background: #f4f4f4;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.alert.success {
    color: green;
}

.alert.error {
    color: red;
}
