{% extends "base.html" %}

{% block content %}
<h2 class="text-center mb-4">Course Catalog</h2>
<ul class="list-group list-group-flush">
    {% for course in courses %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{{ url_for('course_details', code=course['code']) }}" 
               class="text-decoration-none text-primary course-link">
                <strong>{{ course.name }}</strong> - {{ course.code }}
            </a>
            <div class="d-inline-flex ms-2">
                <a href="{{ url_for('course_details', code=course['code']) }}" class="btn btn-primary btn-sm" style="border: none;">View Details</a>

                <a href = "{{ url_for('delete_course', code=course['code']) }}" class="btn btn-danger btn-sm ms-2" style="border: none;">Delete</a>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}
